{{page-title "Home"}}
{{outlet}}
<div class="jumbo">
  <Jumbo>
    <h2>Welcome to Super Rentals!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    <LinkTo @route="about" class="button">About</LinkTo>
  </Jumbo>
</div>

<div class="rentals">
  <ul class="results">
  {{#each this.model as |listing|}}
    <Rental @rental={{listing}} />
  {{/each}}
  </ul>
</div>